h1{
text-align:center;
}

.edit{
    width: 98%;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 8px;
}

label{
    margin-left: 10px;
}

.submitbtn
{
	background-color: #4CAF50;
}

.submitbtn:hover {
  background-color: #45a049;
}

.formbuttons{
    cursor:pointer;
    border-radius: 20px;
}

.clear-btn{
	background-color: gray;
}
.clear-btn:hover {
  background-color: darkgray;
}